
h1{
    font-family: 'Alkatra', cursive;
    text-align: center;
    font-size: 4em ;
    display: none;
}
header{
    background-color: rgb(148, 97, 196);
    border-radius: 5px;
    width: 100%;
    top: 0 px;
    margin: 0px;
    
}

header nav a{
    background-color: rgb(131, 66, 192);
    padding: 5px;
    border-radius: 3px;
    margin: 5px;
    color: black;
    text-decoration: none;
}
header p{
    text-align: center;
}
header p img{
    width: 150;
    
}
main{
    position: static;
    top: 100px;
}
section{
    text-align: center;
}
table {
    margin-left: auto;
    margin-right: auto;
}
table tr td{
    background-color: gray;
    border-radius: 100px;
    height: 100px;
    width: 100px;
}

section article{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size: 1.3em;
    margin: 0 auto;
    width: 500px;
}
.iconos{
    height: 100px;
    width: 100px ;
    margin: 40px;
}
.td:hover{  
    animation-name: cambiarColor;
    animation-duration: 2s;
    animation-delay: 1s;
}
@keyframes cambiarColor{
    0% {background-color: gray;}
    25%{background-color: rgb(48, 48, 54);}
    50% {background-color: rgb(39, 37, 37);}
    75%{background-color: rgb(48, 48, 54);}
    100% {background-color: gray;}
}

footer{

    text-align: center;
    background-color: rgb(195, 147, 240) ;
    color: black;

}
footer a{
    color:black;
}